h1,
h2,
h3 {
    font-family: Noto Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 33px;
    margin: 0;
}

h2 {
    font-size: 24px;
}

.main-page {
    width: 90%;
    margin: 0 auto;
    height: 300px;
    position: relative;
}

.form-control {
    margin-bottom: 1.4rem;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
}

.form-input {
    width: 100%;
    padding: 1rem;
    font-family: Noto Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    line-height: 19px;
    color: #bdbdbd;
    border: 1px solid #bdbdbd;
    box-sizing: border-box;
    filter: drop-shadow(0px 1px 6px rgba(0, 0, 0, 0.1));
    border-radius: 6px;
}

.form-control label {
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 19px;
    color: #4f4f4f;
}